In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [4]:
aapl = yf.Ticker('AAPL')

In [12]:
days = 20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-08-16 00:00:00-04:00,177.130005,178.539993,176.500000,176.570007,46964900,0.0,0.0
2023-08-17 00:00:00-04:00,177.139999,177.509995,173.479996,174.000000,66062900,0.0,0.0
2023-08-18 00:00:00-04:00,172.300003,175.100006,171.960007,174.490005,61114200,0.0,0.0
2023-08-21 00:00:00-04:00,175.070007,176.130005,173.740005,175.839996,46311900,0.0,0.0
2023-08-22 00:00:00-04:00,177.059998,177.679993,176.250000,177.229996,42084200,0.0,0.0
2023-08-23 00:00:00-04:00,178.520004,181.550003,178.330002,181.119995,52722800,0.0,0.0
2023-08-24 00:00:00-04:00,180.669998,181.100006,176.009995,176.380005,54945800,0.0,0.0
2023-08-25 00:00:00-04:00,177.380005,179.149994,175.820007,178.610001,51449600,0.0,0.0
2023-08-28 00:00:00-04:00,180.089996,180.589996,178.550003,180.190002,43820700,0.0,0.0
2023-08-29 00:00:00-04:00,179.699997,184.899994,179.500000,184.119995,53003900,0.0,0.0
2023-08-30 00:00:00-04:00,184.940002,187.850006,184.740005,187.649994,60813900,0.0,0.0
2023-08-31 00:00:00-04:00,187.839996,189.119995,187.479996,187.869995,60794500,0.0,0.0
2023-09-01 00:00:00-04:00,189.490005,189.919998,188.279999,189.460007,45732600,0.0,0.0
2023-09-05 00:00:00-04:00,188.279999,189.979996,187.610001,189.699997,45280000,0.0,0.0
2023-09-06 00:00:00-04:00,188.399994,188.850006,181.470001,182.910004,81755800,0.0,0.0
2023-09-07 00:00:00-04:00,175.179993,178.210007,173.539993,177.559998,112488800,0.0,0.0
2023-09-08 00:00:00-04:00,178.350006,180.240005,177.789993,178.179993,65551300,0.0,0.0
2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,58953100,0.0,0.0
2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,90277500,0.0,0.0
2023-09-13 00:00:00-04:00,179.490005,177.300003,174.860001,174.875000,11509543,0.0,0.0

In [14]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [15]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-08-16 00:00:00-04:00,177.130005,178.539993,176.500000,176.570007,46964900,0.0,0.0
1,2023-08-17 00:00:00-04:00,177.139999,177.509995,173.479996,174.000000,66062900,0.0,0.0
2,2023-08-18 00:00:00-04:00,172.300003,175.100006,171.960007,174.490005,61114200,0.0,0.0
3,2023-08-21 00:00:00-04:00,175.070007,176.130005,173.740005,175.839996,46311900,0.0,0.0
4,2023-08-22 00:00:00-04:00,177.059998,177.679993,176.250000,177.229996,42084200,0.0,0.0
5,2023-08-23 00:00:00-04:00,178.520004,181.550003,178.330002,181.119995,52722800,0.0,0.0
6,2023-08-24 00:00:00-04:00,180.669998,181.100006,176.009995,176.380005,54945800,0.0,0.0
7,2023-08-25 00:00:00-04:00,177.380005,179.149994,175.820007,178.610001,51449600,0.0,0.0
8,2023-08-28 00:00:00-04:00,180.089996,180.589996,178.550003,180.190002,43820700,0.0,0.0
9,2023-08-29 00:00:00-04:00,179.699997,184.899994,179.500000,184.119995,53003900,0.0,0.0
10,2023-08-30 00:00:00-04:00,184.940002,187.850006,184.740005,187.649994,60813900,0.0,0.0
11,2023-08-31 00:00:00-04:00,187.839996,189.119995,187.479996,187.869995,60794500,0.0,0.0
12,2023-09-01 00:00:00-04:00,189.490005,189.919998,188.279999,189.460007,45732600,0.0,0.0
13,2023-09-05 00:00:00-04:00,188.279999,189.979996,187.610001,189.699997,45280000,0.0,0.0
14,2023-09-06 00:00:00-04:00,188.399994,188.850006,181.470001,182.910004,81755800,0.0,0.0
15,2023-09-07 00:00:00-04:00,175.179993,178.210007,173.539993,177.559998,112488800,0.0,0.0
16,2023-09-08 00:00:00-04:00,178.350006,180.240005,177.789993,178.179993,65551300,0.0,0.0
17,2023-09-11 00:00:00-04:00,180.070007,180.300003,177.339996,179.360001,58953100,0.0,0.0
18,2023-09-12 00:00:00-04:00,179.490005,180.130005,174.820007,176.300003,90277500,0.0,0.0
19,2023-09-13 00:00:00-04:00,179.490005,177.300003,174.860001,174.875000,11509543,0.0,0.0

In [18]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-08-16 00:00:00-04:00,320.799988,324.420013,319.799988,320.399994,20698900,0.68,0.0
2023-08-17 00:00:00-04:00,320.540009,321.869995,316.209991,316.880005,21257200,0.00,0.0
2023-08-18 00:00:00-04:00,314.489990,318.380005,311.549988,316.480011,24744800,0.00,0.0
2023-08-21 00:00:00-04:00,317.929993,322.769989,317.040009,321.880005,24040000,0.00,0.0
2023-08-22 00:00:00-04:00,325.500000,326.079987,321.459991,322.459991,16102000,0.00,0.0

In [21]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2023-08-16 00:00:00-04:00,177.130005,178.539993,176.500000,176.570007,46964900,0.0,0.0,320.799988,324.420013,319.799988,320.399994,20698900,0.68,0.0
2023-08-17 00:00:00-04:00,177.139999,177.509995,173.479996,174.000000,66062900,0.0,0.0,320.540009,321.869995,316.209991,316.880005,21257200,0.00,0.0
2023-08-18 00:00:00-04:00,172.300003,175.100006,171.960007,174.490005,61114200,0.0,0.0,314.489990,318.380005,311.549988,316.480011,24744800,0.00,0.0
2023-08-21 00:00:00-04:00,175.070007,176.130005,173.740005,175.839996,46311900,0.0,0.0,317.929993,322.769989,317.040009,321.880005,24040000,0.00,0.0
2023-08-22 00:00:00-04:00,177.059998,177.679993,176.250000,177.229996,42084200,0.0,0.0,325.500000,326.079987,321.459991,322.459991,16102000,0.00,0.0

In [23]:
hist.index

DatetimeIndex(['2023-08-16 00:00:00-04:00', '2023-08-17 00:00:00-04:00',
               '2023-08-18 00:00:00-04:00', '2023-08-21 00:00:00-04:00',
               '2023-08-22 00:00:00-04:00', '2023-08-23 00:00:00-04:00',
               '2023-08-24 00:00:00-04:00', '2023-08-25 00:00:00-04:00',
               '2023-08-28 00:00:00-04:00', '2023-08-29 00:00:00-04:00',
               '2023-08-30 00:00:00-04:00', '2023-08-31 00:00:00-04:00',
               '2023-09-01 00:00:00-04:00', '2023-09-05 00:00:00-04:00',
               '2023-09-06 00:00:00-04:00', '2023-09-07 00:00:00-04:00',
               '2023-09-08 00:00:00-04:00', '2023-09-11 00:00:00-04:00',
               '2023-09-12 00:00:00-04:00', '2023-09-13 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', freq=None)

In [25]:
hist.index = hist.index.strftime('%d %B %Y')

In [32]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                     apple
Date
16 August 2023  176.570007
17 August 2023  174.000000
18 August 2023  174.490005
21 August 2023  175.839996
22 August 2023  177.229996

In [33]:
hist = hist.T #転置
hist

Date,16 August 2023,17 August 2023,18 August 2023,21 August 2023,22 August 2023,23 August 2023,24 August 2023,25 August 2023,28 August 2023,29 August 2023,30 August 2023,31 August 2023,01 September 2023,05 September 2023,06 September 2023,07 September 2023,08 September 2023,11 September 2023,12 September 2023,13 September 2023
apple,176.570007,174.0,174.490005,175.839996,177.229996,181.119995,176.380005,178.610001,180.190002,184.119995,187.649994,187.869995,189.460007,189.699997,182.910004,177.559998,178.179993,179.360001,176.300003,174.875